/* styles.css */

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
    margin: auto;
}

.centerContent {
    display: block;
    margin: auto;
    width: 60%;
    padding: 20px;
    text-align: center;
    background: #ccddee;
}

